<HTML>
  <HEAD>
    <TITLE>Ruby on Rails Starter Application</TITLE>  
  </HEAD>
  <BODY>
    <h1>login</h1>
    <%= form_for @user do |f| %>
    <% end %>
    <h1><%= link_to "Say",:controller=>"say",:action=>"hello" %></h1>
  </BODY>
</HTML>
